/* pulled from my first intrega sample found at
https://github.com/jessburnett/integra. No need 
to re-invent the wheel :)
*/
/* variables for branding & topography */
$blue: #0b3c5d;
$gray: #c5c1c0;


/* mixins */

@mixin flex {
  display: flex;
}

@mixin wrap {
  flex-wrap: wrap;
}

/*
one of my favorite features of flexbox.
it finally solved the age old difficulty
of aligning content vertically and horizontally
in an efficient, simple matter!
*/
@mixin center {
  align-items: center;
  justify-content: center;
}

.flex-container {
  @include flex;
  @include wrap;
}

body {
  color: $gray;
}

/*mixins for media queries*/
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}